@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --bg-color: #fff;
    --text-color: #393939;
    --main-color: #016A70;

    --main-font: 'Poppins', sans-serif;
}

body{
    background-color: var(--bg-color);
    font-family: var(--main-font);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    padding-top: 10px !important;
width: 60px;
height: 60px;
}

.navbar{
    background-color: whitesmoke;
    box-shadow: 4px 4px rgba(41, 41, 41, 0.199);
}
.navbar .nav-wrapper{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.nav-wrapper .menu-wrapper{
    display: flex;
    gap: 50px;
}
.nav-wrapper .menu-wrapper .menu{
    display: flex;
    gap: 50px;
}
.menu-wrapper .menu .menu-link{
    font-weight: bold !important;
    /* font-size: 1.25rem; */
    color: var(--text-color);
    font-family: var(--main-font);
    font-weight: 500;
}
.menu-wrapper .menu .menu-link:hover{
    color: var(--main-color);
    text-decoration: none;
}
.menu-wrapper .menu .menu-link.active{
    font-weight: bold;
    color: var(--main-color);
}
.icon-user-fill {
    /* Add dimensions to span */
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    /* Add background image */
    background-image: url('https://api.iconify.design/ri/user-fill.svg?color=%23016a70');
    background-repeat: no-repeat;
    background-size: 100% 100%;
 }
 .icon-user{
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    color: var(--main-color);
 }
